<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  好棒棒訂書查詢系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        footer {
            background-color: lightblue;
            color: #4f4f4f;
            font-size: small;
        }

        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Microsoft JhengHei';
        }

        .content {
            min-height: 100%;
        }

        .content-inside {
            padding: 20px;
            padding-bottom: 45px;
        }

        .footer {
            height: 45px;
            margin-top: -45px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding:0px 0px 0px 10px;">

        <a class="navbar-brand" href="http://localhost:50828/" style="padding:0px 0px 0px 10px;"><img style="width:50px;height:50px" src="../images/宏盈icon.ico" /></a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li>@Html.ActionLink("課程", "Course", "Course")</li>-->
            </ul>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
